extends layout

block content
  h1 Welcome to my Color Changer
  form(method="POST" action="/")
    input(type="color" name="colorPicker" id="picker")
    label(for="picker") Click Me!
    button(type="submit") Submit